<!-- edit.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Profile</title>
    <style>
      /* General styles for body and headings */
      body {
        margin: 0;
        min-height: 100vh;
        display: grid;
        place-content: center;
        background: repeating-linear-gradient(
          -45deg,
          #fff 0 20px,
          #f9f9f9 0 40px
        );
        background: rgb(52, 2, 43);
        background: linear-gradient(
          90deg,
          rgba(52, 2, 43, 1) 3%,
          rgba(2, 0, 36, 1) 52%,
          rgba(1, 50, 59, 1) 85%
        );
        font-family: "Georgia", serif;
        color: rgba(221, 115, 115, 0.53);
      }

      /* Additional styles for specific elements */
      h1 {
        text-align: center;
        font-size: 2em;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      label {
        margin-bottom: 5px;
      }

      input {
        padding: 10px;
        margin-bottom: 15px;
        width: 100%;
        box-sizing: border-box;
      }

      button {
        width: 180px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        margin-top: 5px;
        height: 45px;
        text-align: center;
        border: none;
        background-size: 300% 100%;
        border-radius: 50px;
        transition: all 0.4s ease-in-out;
        background-image: linear-gradient(
          to right,
          #ed6ea0,
          #ec8c69,
          #f7186a,
          #fbb03b
        );
        box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
      }
      .container {
        text-align: center;
        background-color: rgba(255, 255, 255, 0.1);
        /* padding: 20px; */
        border-radius: 10px;
        -webkit-text-stroke: 0.2px #ffeeee3f;
        /* margin-top: 20px;  */
        width: 400px;
      }
      button:hover {
        background-position: 100% 0;
        transition: all 0.4s ease-in-out;
      }

      button:focus {
        outline: none;
      }
      input {
        background-color: rgba(255, 255, 255, 0.1);
        /* Adjust the opacity to your liking */
        color: #113a62;
        border: none;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        width: 80%;
        box-sizing: border-box;
        outline: none;
        background: linear-gradient(
          to right,
          rgba(255, 153, 102, 0.8),
          rgba(255, 94, 98, 0.8)
        );
      }
    </style>
    <!-- <link rel="stylesheet" href="../signup.css" /> -->
  </head>
  <body>
    <div class="container">
      <h1>Edit Profile</h1>
      <!-- Display the existing user data for editing -->
      <form action="/update" method="post">
        <input
          type="hidden"
          name="token"
          id="token"
          value="<%= user.token %>"
        />
        <label for="name">Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          value="<%= user.name %>"
          required
        />
        <label for="rollno">Roll Number:</label>
        <input
          type="text"
          name="roll_no"
          id="rollno"
          value="<%= user.roll_no %>"
        />
        <label for="room_no">Room Number:</label>
        <input
          type="text"
          id="room_no"
          name="room_no"
          value="<%= user.room_no%>"
          required
        />
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          value="<%= user.email %>"
          required
        />
        <label for="hall">Hall:</label>
        <input
          type="text"
          id="hall"
          name="hall_name"
          value="<%= user.hall_name %>"
          required
        />
        <label for="py">Passing year:</label>
        <input type="text" id="py" name="PY" value="<%= user.PY %>" required />
        <% if(user.bio){ %>
        <label for="bio">Bio:</label>
        <input
          type="text"
          id="bio"
          name="bio"
          value="<%= user.bio %>"
          required
        />
        <% } %>
        <!-- Add other input fields for editing user data -->
        <button type="submit">Save Changes</button>
      </form>
    </div>
  </body>
</html>
